<div>
<div>
  <div style="display: flex; flex-direction: row;">
    <div>
      <label>Title</label>
      <input type="text" placeholder="title" [formControl] = "title">
    </div>
    <div>
      <label>Discription</label>
      <input type="text" placeholder="discription" [formControl] = "discription">
    </div>
  <div>
    <button type="button" (click)="addToList()">ADD TO LIST</button>
  </div>
  </div>
</div>
<div>
  <div *ngFor="let item of datasource ;let i = index;">
    <mat-card class="card"> <span style="margin-right : 30px">Title- {{item.title}}</span>  <span>Description- {{item.description}}</span>  <button type="button" style="background-color: aqua;" (click)="removeItem(i)">x</button></mat-card>
  </div>

</div>
</div>



